body {
}
.container-header {
  background-color: #24474e;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 200px;
  text-align: center;
}
.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  display: flex;
}
